body {
	margin:0 3px 0 3px;
	padding: 0;}

	/* Background do site */
#Home{
	background-image: url("imagens/fundo.png");
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;}

	/*Para o conteúdo não ficar sob o nav*/
#Fatec, #Selma, #Ligia, #Fabiana, #Andrea, #Virgilio1, #Virgilio2, #Alexandre, #Contato{
	padding-top: 5%;}

#Fatec{
	display: flex;
	flex-direction: row;
	flex: 1;}

#Selma, #Ligia, #Fabiana, #Andrea, #Virgilio1, #Virgilio2, #Alexandre, #Contato{
	display: flex;
	flex: 1;
	flex-direction: row-reverse;}

nav {
	background:black;
	height: 8vh;
	position: fixed;
	width:100%;
	float:right;
	z-index: 2;}

nav li {
	display: inline-block;}

.menu{
	list-style:none;  
	float:right;
	padding-top: 6px;
	padding: 0px;}

	/*Menu principal*/
.menu li{ 
	position:relative; 
	float:left; 
	text-align: center;
	padding-top:1px;
	padding-left:5px;
	padding-right:45px;
	padding-bottom:1px;
	font-family: helvetica;}

.menu li a{
	color:white;
	padding:0px 3px;
	display:block;}

.menu li a:hover{  
	color:#2B88BD;}

	/*Menu dropdown*/
.menu li ul {
	width: 260px;
	font-size: 20px;
	margin-left: -90px;
	margin-top: 0px;
	background-color:#DADADA; 
	position: absolute;
	display: none;
	float:left;}

.menu li:hover ul, .menu li.over ul{
	display:block;}

	/*Texto Menu Dropdown*/
.menu li ul li{
	display:block; 
	width:50px;
	font-size:22px;
	margin-left: -55%;
	margin-bottom: 10px;
	width:500px}

	/*Rodapé*/
footer{
	bottom: 0;
	width: 100%;
	clear: both;
	background: #eee;
	font-family: helvetica;
	padding: 0;
	border-top: 2px solid #ddd;
	text-align: right;
	color: #777;
	font-size: 12px;
	height: 5vh;}

	/*Configurações de links*/
a:link, a:visited {
	position: relative;
	color: white;
	text-decoration:none;
	font-family: helvetica;
	font-size: 20px;}

a:hover {
	color:#2B88BD;}

a.lattes{
	font-size: 18px;}

a.linksmatematica{
	color:black;}

a.linksmatematica:hover{
	color:#2B88BD;}

	/*Logo no nav*/
.rossini{
	padding-left: 5px;
	padding-top: 3px;}

	/*Fotos professores*/
.fotoselma, .fotoligia, .fotovirgilio, .fotofabiana, .fotoandrea, .fotoalexandre{
	margin-left: auto;
	margin-right: auto;
	display: block;}

	/*Conteúdo principal das matérias*/
article.materia{
	float: right;
    width: 78%;
    background-color: rgba(248, 248, 255, 0.8);
	margin: 5px 0px 5px 0px;
	padding: 0px 10px 0px 10px;
	text-align: justify;
	font-size: 20px;
	color: black;
	font-family: helvetica;}

.materia p {
	text-indent: 30px;
	line-height: 28px;}

	/*Parágrafo na aba contato*/
.eu p{
	text-indent: 30px;
	line-height: 28px;
	font-family: helvetica;
	font-size: 20px;
	text-align: justify;}

	/*Título Sobre Fatec*/
h1.titulo{
	font-family: helvetica;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	background-color: white;}

	/*Título galeria de imagens*/
h3.titulo{
	font-family: helvetica;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;}

	/*Títulos menores*/
h4.titulo{
	font-family: helvetica;
	text-align: center;
	font-size: 1em;
	font-weight: bold;}

.imagens{
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;}

.imagens img{
	width: 80%;}

	/*Imagens na matéria de Design Digital*/
.fotosdesign{
	margin-left: 64px;
	float:left;
	margin-bottom: 40px;}

	/*Imagens na matéria de Padrões*/
.fotospadrao{
	margin: 18px;
	padding-left: 15px}

	/*Imagens na aba Fatec*/
.fotosfatec{
	display:block;
	width: 60%;
	margin-left: auto;
	margin-bottom: 10px;
	margin-right: auto;}

	/*Imagem na aba Contato*/
.fotoeu{
	float: left;
	margin-top: 0;
	margin-left: 15px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding-left: 3px;}

	/*Texto principal na aba Fatec*/
article.fatec{
	float: left;
	width: 50%;
	background-color: rgba(248, 248, 255, 0.8);
	font-family: helvetica;
	font-size: 19px;
	color: black;
	text-align: justify;
	padding: 10px;
	text-indent: 30px;
	margin-top: 8px;}

	/*Galeria de Imagens, aba Fatec*/
aside.fotofatec{
	float: right;
	width:48%;
	background-color: rgba(192,192,192,0.8);
	margin-top: 8px;
	font-family: helvetica;}

	/*Formulário na aba Contato*/
article.form{
	float: left;
	width: 35%;
	background-color: rgba(248, 248, 255, 0.8);
	font-family: helvetica;
	font-size: 19px;
	color: black;
	text-align: justify;
	padding: 10px;
	text-indent: 30px;
	margin-top: 80px;}

	/*Texto na aba Contato*/
aside.eu{
	float: right;
	width:63%;
	background-color: rgba(192,192,192,0.8);
	margin-top: 80px;
	font-family: helvetica;
	padding: 5px;}

	/*Nome da disciplina em caixa roxa*/
aside.disc{
	float:left;
	background-color: rgba(112,6,155,0.8);
	width: 20%;
	height: 50%;
	margin-top: .5%;
	text-align: center;
	font-family: helvetica;
	font-size: 20px;
	color:white;}

	/*Área para foto dos professores*/
aside.professor{
	width: 20%;
	height: 90%;
	background-color: rgba(5,219,226, 0.5);
	margin-top: .5%;}

	/*Fotos professores*/
.professor img{
	width: 90%;
	display: block;
	margin-right: auto;
	margin-left: auto;}

	/*Primeiro Breakpoint*/
@media (max-width: 768px) {
		nav {
			height: auto;}

		.menu{
			float: right;}

		article.fatec{
			float: none;
			width: 100%;}

		aside.fotofatec{
			float: none;
			width: 100%;
			height: 70%;}

		#Selma h2, #Ligia h2, #Fabiana h2, #Andrea h2, #Virgilio1 h2, #Virgilio2 h2, #Alexandre h2{
			font-family: 'helvetica', sans-serif;
			font-size: .6em;}

		#Fatec, #Selma, #Ligia, #Fabiana, #Andrea, #Virgilio1, #Virgilio2, #Alexandre, #Contato{
			padding-top: 18%;}

		.fotoselma, .fotoligia, .fotovirgilio, .fotofabiana, .fotoandrea, .fotoalexandre{
			display: none;}

		#Contato{
			display: flex;
			flex: 1;
			flex-direction: column-reverse;
			float:none;
			width: 100%;}

		a.lattes{
			font-size: .5em;}

		.fotosfatec{
			width: 100%;
			height: 70%;}

		.menu li {
			float: none
			margin-left: auto;
			margin-right: auto;}

		.rossini{
			display: block;
			margin-left: auto;
			margin-right: auto;}

		#Fatec{
			display: flex;
			flex-direction: column;
			flex: 1;}

		#Selma, #Ligia, #Fabiana, #Andrea, #Virgilio1, #Virgilio2, #Alexandre{
			display: flex;
			flex-direction: column-reverse;
			flex: 1;}

		article.form, aside.eu, aside.disc, article.materia{
			float: none;
			width: 100%;}

		aside.disc{
			font-size: 2em;}

		.professor img{
			display: none;}
	}

	/*Segundo Breakpoint*/
@media (max-width: 560px) {
	.menu li {
		width: 100%;}

	.menu li ul {
		position: static;
		float: none;
		margin: auto;}

	#Fatec, #Selma, #Ligia, #Fabiana, #Andrea, #Virgilio1, #Virgilio2, #Alexandre, #Contato{
			padding-top: 40%;}
	}

